.titulo[.titulo[text-align]:center ;]
.calculator {
    width: 300px;
    margin:0 auto;
    border-radius: 1px solid #bd5e5e;
    border-radius: 5px;
    padding: 10px
    
    
    #result{
      width: 100%;
    margin-buttom:10px;
    padding: 5px
    font-size: 18;
    background-color:rgb (230,230, 236);
    
);